body{
  background-color: #fff;
}

#head_title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #105e62;
}

.first_div{
  position: relative;


}

.div_sec1{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  width:50%;
  left:15%;
  top: 10%;





}

.dice_img1{
  width: 20%;

}

#p1,#p2,#p3{
  font-family: 'Montserrat', sans-serif;
  color: #241663;
}



.dice_img2{
  width: 20%;
}

.div_sec2{
  text-align: center;
  margin-top: 1.5%;
  position: absolute;
  width:50%;
  left:35%;
  top: 24%;


}





.last_divison{
text-align: center;
}

.icons{
  margin: 2% 2%;
}
